@{
    ViewBag.Title = "Заказ обработан";
}
<h2>Спасибо!</h2>
<h4>за выбор нашего магазина. Заказ в кратчайшие сроки будет отправлен в службу доставки.</h4>
<a asp-controller="Product" asp-action="GetProducts" class="btn btn-success">Перейти на главную</a>

